/* root*/
html, body {
  height: 100%;
  margin: 0;
  background-color: #eaf3d2;
}
:root {
      --green: #ADED47;
      --green-dark: #739E26;
      --dark-forest: #333;
      --text-light: #777;
      --off-white: #FFFFFF;
      --off-white2: #EFF7EB;
      --border: #739E26;
      --black: #04170c;
      --off-green: #eaf3d2;
      --salmon: #ec6e6e;
      
    }


/* Container design */
.container {
    display: flex;
    flex-direction:column;
    margin: 0;
    background-color: var(--off-white);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
.contact{
    background-color: var(--black);
    min-height: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    display:flex;
    inset: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
  }
.bounce {
  position: absolute;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  line-height: 1px;
  animation: bounceText 15s ease-in-out infinite alternate;
}
       @keyframes bounceText {
      0% {
        left: 0;
      }
      100% {
        left: calc(100% - var(--text-width));
      }
    }


/* Nav bar*/
.navbar{
  position: sticky;
  z-index: 1000000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 6vh;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.2px solid var(--black);
  top: 0;
  
}
.nav-left a{
  color: var(--black);
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 12px;
}

/* Left Section: Logo + Links */
.nav-left {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-left img {
  height: 80px;
  display: block;
}
/* Right Section: Button */
.nav-right{
  display:flex;
  gap: 50px;
}
.contactButton{
  color: var(--dark-forest);
  background: none;
  border: none;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 12px;
  cursor: pointer;

}
.rrgHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  background-color: var(--salmon);
  border-radius: 100px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 10px;
  width: 9vw;
  height: 6vh; 
}
.rrgHome a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #e7e7e7;

}
/* Optional: hover effect */
.rrgHome:hover {
  background-color: #4CAF50;
  color: white;
}
.arrowRight{
  fill: #e7e7e7;
}

/*main content wrapper*/
.contentWrap{
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
 
  min-height: 0;;

}
/*Sidebar*/
.sidebarWrap{
  top: 0;
  height: 100%;
  width: 8vw;
  background-color: var(--off-white);
  border-right: 1px solid var(--black) ;

}
.sidebar{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1%;
  margin-top: 3vh;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-size: 12px;
}
.off-side {
      color: var(--dark-forest);
      background-color: transparent;
      text-decoration: none;
      padding: 0.75rem 1rem;
      border:none;
      border-radius: 8px;

    }
.off-side:hover {
      background-color: var(--green-dark);
      cursor: pointer;
    }

.active-side{
  background-color: var(--green-dark);
  border-radius: 8px;
  color: var(--dark-forest);
  text-decoration: none;
  padding: 0.75rem 1rem;
  border: none;
}
.active-side:hover {
      background-color: var(--salmon);
      cursor: pointer;
    }

/*Main body Wrappers*/
.wWrapper{
  gap: 0%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;      
  overflow-x: hidden;    
  flex: 1 1 auto;
  align-items: stretch;   /* <-- stretch children horizontally */
  justify-content: flex-start;
  

}
.wWrapper h1,
.wWrapper p{
  font-family: Inter, sans-serif;
  color: var(--dark-forest);
  margin:0.2rem;
  
}

.connectWrap, .content1, .content2{
  border: #04170c 1px solid;
  padding: 1%;
  gap: 1%;
  width: 100%;
}



/* Greetings */
.connectWrap{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  width: 100%;

}
.connectWrap{
  background-color: var(--green); /* base */
  background-image:
    linear-gradient(90deg, #ccc 1px, transparent 1px),
    linear-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 20px;
}

.content1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2%;
}
#maps {
  margin-left: 0.5%;
}
.expo{
  display: flex;
  flex-direction: column;
  width:98%;
  gap: 2%;
  
}
/* Main content */
.content2{
  display:flex;
  flex-direction: column;
}
.subButton{
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 0;
}
.subButton button{
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  width: 150px;
  height: 50px;
  z-index: 1000;
  text-align: center;
  pointer-events: auto;
  font-family: 'Inter', sans-serif; 
  font-size: 14px;
  gap: 10px;
}
.active-link {
  text-decoration: underline;
}
.select{
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif; 
  font-size: 14px;
  margin-left: 2%;
}
.chartTotal {
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: 70vh;
}

#chartBreak {
  width: 100%;
  display: flex;             /* activate flexbox */
  flex-direction: column;    /* stack children vertically */
  justify-content: center;   /* center vertically */
  align-items: center;       /* center horizontally */
  margin: 0 auto;            /* center horizontally if block */
  height: 70vh;
}

#chartSite {
  width: 100%;
  display: flex;             /* needed for justify-content, align-items to work */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60vh;
}
.chartWrapperSite{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 #siteHa, #siteTree {
  width: 100% !important;
  height: 100% !important;
}
.chartsHa, .chartsTree{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 60vh;
}
.chartWrapperTotal {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#haTotal, #haProgressPie, #treeTotal, #treeProgressPie {
  width: 97% !important;
  height: 100% !important;
}


#biomassMap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}


.ers{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}




  /* Footer */
footer{
    background-color: #04170c;
    height: 5vh;;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display:flex;
    inset: 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1px;
  }
  footer a{
    text-decoration: none;
    color: white;
  }